# This is a rough idea of who was in each dojo. 
# The intention of keeping track of this is for CVs and such

# Hosts
# Ray has been hosting since July 27th 2022
# Katie and Dave have been comming since 22nd Febuary 2023 and cohosting shortly after

# This data was not kept track of, some information was found after
# If you were involved, let me know and I will add you to the correct session
/2023* @JustCallMeRay @KatieLG

# Bridges
/2024-Sep-18/Group-1 @KatieLG @joshuaeke @JustCallMeRay

# Happy strings
/2024-Oct-16/Group-1 @KatieLG @joshuaeke @JustCallMeRay @HannaW

